.waic-button.waic-active-button {
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 1px;
	text-wrap: nowrap;
	border-radius: 5px;
	margin-right: 15px;
	outline: none !important;
	box-shadow: none !important;
}
.postbox-container .waic-button.waic-active-button {
	width: 100%;
	margin-bottom: 5px;
}
.waic-button.waic-main-button {
	background-color: #FF5C35;
	border: 1px solid #FF5C35;
}
.waic-button.waic-minor-button {
	background-color: #A1A9C4;
	border-color: #A1A9C4;
}
.waic-button.waic-main-button:hover, .waic-button.waic-main-button:focus {
	background-color: #d92b02;
	border: 1px solid #d92b02;
	color: #ffffff;
}
.waic-button.waic-minor-button:hover, .waic-button.waic-minor-button:focus {
	background-color: #9197B3;
	border-color: #9197B3;
	color: #ffffff;
}
