.react-flow__attribution {
	display: none;
}
#waic-workflow-root {
	height: calc(100vh - 70px); 
	margin: -10px -30px 30px -30px;
	position: relative;
}
#waic-workflow-root #waic-flow-canvas {
	height: calc(100vh - 70px);
}
.waic-flow-control {
	/*padding: 8px 24px;*/
	background: #fff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #dbdce2;
	justify-content: space-between;
	/*
	border-radius: 5px;
	box-shadow: 0px 4px 4px 0px #00000040;
	position: absolute;
	z-index: 100;
	top: 5px;
	right: 5px;*/
}
.waic-flow-coltrols {
	padding: 8px 24px 8px 15px;
	display: flex;
	gap: 8px;
	align-items: center;
	flex-wrap: wrap;
}
.waic-flow-title {
	font-size: 16px;
	font-weight: 600;
	color: #9197b3;
	max-width: 300px;
	text-wrap-mode: nowrap;
	overflow: hidden;
}
.waic-flow-title-btn {
	cursor: pointer;
	font-size: 16px;
	color: #9197b3;
}
.waic-flow-title-btn:hover, .waic-flow-title-btn:focus {
	color: #333333;
}
.waic-flow-control button {
	margin: 0;
}
.waic-flow-separator {
	width: 1px;
	height: 25px; 
	background-color: #ccc;
	margin: 0 3px;
}
.waic-button-icon {
	width: 30px;
	min-width: 30px;
	vertical-align: unset;
	padding: 5px;
}
.waic-button-icon img {
	height: 100%;
}
.waic-flow-sidebar {
	display: flex;
    flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background: #ffffff;
	border-right: 1px solid #CBD6E2;
	border-bottom: 1px solid #CBD6E2;
	padding: 0;
	box-shadow: none;
	z-index: 50;
}
.waic-sidebar-header, .waic-sidebar-body {
	padding: 15px;
}
.waic-sidebar-header {
	border-bottom: 1px solid #CBD6E2;
}
.waic-sidebar-title {
	font-size: 14px;
	font-weight: 600;
}
.waic-sidebar-title i {
	margin-right: 5px;
	font-size: 16px;
}
.waic-active-link {
	cursor: pointer;
}
.waic-active-link:hover, .waic-active-link:focus {
	color: #FF5C35;
}
.waic-sidebar-desc {
	font-size: 10px;
	font-weight: 400;
	color: #7C8186;
	margin-top: 10px;
}
.waic-sidebar-body {
	flex: 1;
	overflow-y: auto;
}
.waic-sidebar-list {
	margin: 10px 0;
}
.waic-sidebar-list li {
	width: 100%;
	height: 80px;
	border-radius: 5px;
	border: 1px solid #CBD6E2;
	background-color: #F8FAFC;
	cursor: pointer;
	padding: 12px;
	margin: 0;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.waic-sidebar-list li:hover, .waic-sidebar-list li:focus {
	background-color: #eaf0f6;
}
.waic-sb-list-title {
	font-size: 12px;
	font-weight: 600;
}
.waic-sb-list-desc {
	font-size: 10px;
	font-weight: 400;
	color: #7C8186;
}
.waic-sidebar-close {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.waic-sidebar-close img {
	width: 16px;
	height: 16px;
}
.waic-sidebar-close img:hover, .waic-sidebar-close img:focus {
	filter: brightness(0.7);
}
.waic-sidebar-setting {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-bottom: 15px;
}
.waic-sidebar-label {
	flex: 0 0 100%;
	display: flex;
    justify-content: space-between;
}
.waic-sidebar-variables, .waic-sidebar-copy {
	cursor: pointer;
	color: #0093AE;
	font-weight: 500;
}
.waic-sidebar-variables:hover, .waic-sidebar-variables:focus,
.waic-sidebar-copy:hover, .waic-sidebar-copy:focus {
	font-weight: 600;
}
.waic-sidebar-field {
	flex: 1 1 0;
	min-width: 0;
}
.waic-sidebar-setting select, 
.waic-sidebar-setting input,
.waic-sidebar-setting textarea {
	width: 100% !important;
}
#waic-flow-canvas {
	 width: 100%;
	 height: 100vh;
	 position: relative;
}
.react-flow__node-trigger, .react-flow__node-action, .react-flow__node-logic {
	padding: 10px;
	border-radius: 6px;
	background: #ffffff;
	font-size: 14px;
	border: 3px solid #4CAF50;
	min-width: 120px;
	min-height: 100px;
	box-shadow: 0px 4px 4px 0px #00000040;
	align-content: center;
	max-width: 150px;
}
.react-flow__node-action {
	border: 3px solid #e15987;
}
.react-flow__node-logic {
	border: 3px solid #f1b966;
}
.react-flow__node.selected {
	background-color: #eaf0f6;
}
.waic-flow-node {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*.waic-logic-node {
	position: relative;
}*/
.react-flow__handle-right {
	visibility: hidden;
}
.react-flow__handle-right.connectablestart {
	visibility: visible;
}
.waic-handle-then, .waic-handle-else {
	position: absolute;
	top: 7%;
	right: 7px;
	color: #607D8B;
    font-size: 10px;
    font-weight: 600;
}
.waic-handle-else {
	top: 77%;
}
.waic-node-id {
	position: absolute;
	top: 5px;
	left: 5px;
	color: #9197b3;
	font-size: 10px;
}
.waic-node-label {
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.waic-node-sublabel {
	font-size: 10px;
	font-weight: 500;
	color: #9197b3;
	text-align: center;
}
.react-flow__handle {
	min-width: 5px;
	min-height: 5px;
	width: 8px;
	height: 8px;
	background-color: #ffffff;
	border: 1px solid #9197b3;
}
.waic-flow-add-icon {
	width: 25px;
	height: 25px;
	background-color: #10b981;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	margin: 5px;
}
.waic-action-node .waic-flow-add-icon {
	background-color: #e15987;
}
.waic-logic-node .waic-flow-add-icon {
	background-color: #f1b966;
}
/*.react-flow__edge.selected path {
	stroke: #333 !important;
}*/
.waic-dialog-overlay {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}
.waic-admin-dialog {
	background: #fff;
}
.waic-admin-dialog.waic-dialog-move {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	max-height: 90%;
}
.waic-dialog-panel {
	width: 600px;
	max-width: 100vw;
	/*height: 500px;*/
	
	max-height: 90vh;
	font-size: 16px;
	line-height: 24px;
	background: #FFFFFF;
	font-family: Poppins, Arial, sans-serif;
	color: #4C647E;
	overflow: hidden;
	font-weight: 400;
	padding: 0;
	border: 0;
	border-radius: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.waic-dialog-compact .waic-dialog-panel {
	width: 450px;
	height: auto;
	font-size: 14px;
	line-height: 20px;
	user-select: none;
}
.waic-dialog-mini {
	width: 350px;
}
.waic-dialog-mini .waic-dialog-panel {
	width: 350px;
	height: auto;
	font-size: 14px;
	line-height: 20px;
	user-select: none;
	border: 1px solid #8b8b8b;
}
.waic-dialog-panel>div {
    width: 100%;
}
.waic-dialog-header {
	display: flex;
	justify-content: space-between;
	background: #2D3E50;
	color: #FFFFFF;
	padding: 10px 26px;
	align-items: center;
	overflow: hidden;
	height: 40px;
	font-size: 16px;
}
.waic-dialog-move .waic-dialog-header {
	cursor: move;
}
.waic-dialog-close {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 0 -10px;
}
.waic-dialog-buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	height: 40px;
	align-items: flex-start;
}
.waic-dialog-buttons.waic-buttons-border {
	padding-top: 10px;
	border-top: 1px solid #e1e1e5;
	height: 50px;
}
.waic-dialog-body {
	padding: 16px 26px;
	display: flex;
	max-height: calc(90vh - 50px);
	overflow: auto;
	flex-direction: column;
}
.waic-dialog-mini .waic-dialog-body {
	max-height: calc(80vh - 90px);
}
/*.waic-dialog-compact .waic-dialog-body {
	height: calc(100% - 90px);
}*/
.waic-dialog-block {
	width: 100%;
}
.waic-dialog-settings {
    max-width: 100%;
}
.waic-dialog-setting {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-bottom: 15px;
}
.waic-dialog-setting .waic-dialog-label {
	width: 100%;
}
.waic-dialog-setting .waic-dialog-field {
	display: flex;
	gap: 5px;
	align-items: center;
	flex: 1 1 0;
    min-width: 0;
}
.waic-dialog-setting input, .waic-dialog-setting select {
	width: 100% !important;
}
.waic-dialog-block {
	width: 100%;
}
.waic-dialog-block textarea {
	width: 100%;
}
.waic-dialog-input {
	width: 100% !important;
}
.waic-dialog-paragraph {
	padding: 0 0 0 30px;
}
.waic-dialog-block ul li {
	margin-bottom: 5px;
}
/* loader */
.waic-dialog-panel .waic-loader {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 10px;
	height: 90px;
	margin: auto;
}
.waic-group-list {
	margin: 0;
	list-style: none;
}
.waic-variable-group {
	margin-bottom: 15px !important;
}
.waic-variable-meta {
	max-width: 200px;
	display: inline;
	margin: 0 5px;
}
.waic-group-title {
	display: flex;
	gap: 5px;
	font-weight: 600;
	margin-bottom: 7px;
}
.waic-group-sublabel {
	display: flex;
	font-weight: 400;
	font-style: italic;
	gap: 5px;
}
.waic-group-id {
	color: #9197b3;
}
.waic-variables-list {
	list-style: none;
	margin-left: 15px;
}
.waic-variables-list li {
    display: flex;
    justify-content: space-between;
}
.waic-variables-list button {
	border-radius: 7px;
	background-color: #283848;
	color: #e1e1e5;
	border: 0;
	margin-bottom: 3px;
}
.waic-variables-list button:hover, .waic-variables-list button:focus {
	color: #fff;
}
.waic-dialog-filter {
	display: flex;
	align-items: center;
	gap: 10px;
}
.waic-log-loader {
	height: 300px;
	margin: 10px 0;
	display: flex;
}
.waic-log-block {
	border: 1px solid #c5c5c5;
	padding: 10px;
	height: 300px;
	overflow: auto;
	width: 100%;
	text-align: center;
	margin: 10px 0;
	text-align: left;
	font-size: 12px;
}
.waic-log-run {
	margin-bottom: 20px;
}
.waic-log-one {
	/*display: flex;
	gap: 5px;*/
}
.waic-log-date {
	font-family: sans-serif;
	font-weight: 600;
	white-space: nowrap;
    display: inline;
}
.waic-log-main {
	color: #03A9F4;
	display: inline;
	margin: 0 5px;
}
.waic-log-error {
	color: #F44336;
	display: inline;
	margin: 0 5px;
}
.waic-flow-error-node {
	position: absolute;
	top: -10px;
	color: red;
	font-size: 40px;
	font-weight: 900;
	animation: shake 0.6s ease-in-out infinite;
}
@keyframes shake {
	0%   { transform: rotate(0deg); }
	25%  { transform: rotate(-10deg); }
	50%  { transform: rotate(10deg); }
	75%  { transform: rotate(-10deg); }
	100% { transform: rotate(0deg); }
}
.waic-sidebar-search {
	margin-top: 5px;
}
.waic-sidebar-search input {
	width: 100% !important;
}
textarea.waic-html-editor {
	width: 100%;
	border-radius: 0 !important;
	border: 0 !important;
	vertical-align: bottom;
}
.waic-sidebar-html {
	cursor: pointer;
	color: #3F51B5;
	font-weight: 600;
}
textarea.waic-html-editor:focus {
	box-shadow: none;
}
