.waic-body-content {
	flex-wrap: wrap;
	gap: 16px;
}
.wbw-tabs-content {
	max-width: 100%;
}
.wbw-body-options {
	min-width: 500px;
}
.waic-list-block {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
	gap: 5px;
}
.waic-gallery-wrap {
	max-width: 600px;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
	height: 120px;
    position: relative;
}
.waic-gallery-wrap.waic-gallery-small {
	height: 60px;
}
.waic-settings-gallery {
	display: flex;
	gap: 10px;
	position: absolute;
}
.waic-gallery-element, .waic-gallery-upload {
	border-radius: 8px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	display: flex;
	padding: 0;
}
.waic-gallery-small .waic-gallery-element, .waic-gallery-small .waic-gallery-upload {
	height: 50px;
	width: 50px;
}
.waic-gallery-element {
	position: relative;
}
.waic-settings-gallery .waic-gallery-element img {
	margin: 0;
	width: 100%;
}
.waic-gallery-element:hover:before, .waic-gallery-element.selected:before {
	content: '';
	width: 18px;
	height: 18px;
	border: 1px solid #9197B3;
	background-color: #fff;
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 5px;
	padding: 1px 3px;
	font-weight: 900;
	color: #525252;
}
.waic-gallery-small .waic-gallery-element:hover:before, .waic-gallery-small .waic-gallery-element.selected:before {
	top: 1px;
	right: 1px;
}
.waic-gallery-element:not(.selected):hover:before {
	cursor:pointer;
}
.waic-gallery-element.selected:before {
	content: '\2714';
}
.waic-gallery-upload {
	overflow: visible;
}
button.wbw-button-upload {
	width: 100%;
	height: 100%;
	color: #9197B3;
    background-color: #fff;
    border: 1px solid #9197B3;

}
button.wbw-button-upload:hover, button.wbw-button-upload:focus {
	background-color: #CBD6E2;
}
.waic-media-delete {
	display: none;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 18px;
	height: 18px;
	border: 1px solid #9197B3;
	background-color: #fff;
	border-radius: 5px;
	padding: 0;
	font-weight: 900;
	color: #525252;
	cursor:pointer;
    justify-content: center;
    align-items: center;
}
.waic-gallery-small .waic-media-delete {
	top: 1px;
	left: 1px;
}
.waic-gallery-media:hover .waic-media-delete {
	display: flex;
}
.waic-gallery-media:hover .waic-media-delete:hover {
	background-color: #CBD6E2;
}
.wbw-tabs-content {
	max-width: 800px;
}
.wbw-preview-content {
	position: relative;
	min-width: 400px;
	padding-top: 16px;
}
.waic-preview-actions {
	top: -17px;
	right: 0;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}
/*.waic-preview-actions .waic-grbtn {
	margin: 0 15px;
}*/
.waic-reset-preview {
	border-radius: 50%;
	width: 30px;
	min-width: 30px;
	height: 30px;
	background-color: #ff5c35;
	color: #2d3e50;
	margin: 0;
	padding: 0;
}
.waic-reset-preview:hover, .waic-reset-preview:focus {
	background-color: #d92b02;
	color: #fff;
}
.wbw-group-title {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.ui-dialog .wbw-settings-label {
	font-weight: 800;
}
.ui-dialog .wbw-settings-form {
	max-width: 100%;
}
.waic-log-messages {
	border: 1px solid #c5c5c5;
	padding: 10px;
	height: 200px;
	overflow: auto;
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
.waic-log-innner {
	width: 100%;
	text-align: left;
}
.waic-reset-appearance {
	margin-right: -15px;
}
.waic-tools-groups .wbw-ws-block {
	min-height: 50px;
	min-width: 170px;
}
.waic-tools-groups .wbw-ws-block.current {
	border-color: #2986d0;
	box-shadow: 0px 4px 4px 0px #005AE040;
}
.waic-tools-groups .wbw-ws-block.wbw-ws-disabled {
	cursor: default;
	color: #adaeb1;
	box-shadow: none !important;
}
.waic-tools-groups .wbw-ws-soon {
	right: 10px;
	left: auto;
}
.waic-tool-content {
	display: none;
}
.waic-tool-content.active {
	display: block;
}